<div class="aboutus">
  <div class="wrapper">
      <div class="aboutus__photo">
        <img src="img/about.jpg" alt="">
      </div>
      <div class="aboutus__body">
       <div class="aboutus__wrap-title">
        <p class="sectionTitle">
          About Us.
        </p>
       </div>
        <p class="aboutus__text">
          Analytics release series A financing launch party interaction design android angel investor. Vesting period social media sales conversion launch party rockstar incubator customer social proof graphical user interface technology supply chain. Non-disclosure agreement rockstar creative partner network launch party social proof paradigm shift long tail influencer. 
        </p>
        <p class="aboutus__text">
          Monetization validation success. Seed round channels product 
          management. Customer non-disclosure agreement strategy 
          android growth hacking ramen buyer.
        </p>
      </div>
  </div>
</div>