<div class="blog">
  <div class="wrapper">
    <p class="sectionTitle">Our Blog.</p>
    <p class="work__sub-text">We understand your requirement and provide quality works.</p>
    <div class="blog__wrap">
      <div class="blog__col shadow">
        <div class="blog__img">
            <img src="https://ofigenno.com/content/8015-0/1.jpg" alt="">
        </div>
        <div class="img-footer">
          <p class="img-footer__title">Facebook’s CNN livestream will test its place in the second screen era</p>
          <p class="img-footer__text">Traction seed money infographic accelerator pivot value proposition ownership business-to-consumer iteration market analytics paradigm Read Full Article »</p>
        </div>
      </div>
      <div class="blog__col">
        <div class="box green">
          <p class="box__title">Google Street View adds virtual reality support</p>
          <p class="box__text">Traction seed money infographic accelerator pivot value 
              proposition ownership business-to-consumer iteration market 
              analytics paradigm <a href="#" class="box__link green">Read Full Article »</a></p>
        </div>
        <div class="box purpure">
          <p class="box__title">Google Street View adds virtual reality support</p>
          <p class="box__text">Traction seed money infographic accelerator pivot value 
              proposition ownership business-to-consumer iteration market 
              analytics paradigm <a href="#" class="box__link purpure">Read Full Article »</a></p>
        </div>
        <div class="box yellow">
          <p class="box__title">Google Street View adds virtual reality support</p>
          <p class="box__text">Traction seed money infographic accelerator pivot value 
              proposition ownership business-to-consumer iteration market 
              analytics paradigm <a href="#" class="box__link yellow">Read Full Article »</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
    