<div class="focus">
  <div class="wrapper">
    <div class="focus__head">
      <p class="sectionTitle">
        Our Focus
      </p>
      <p class="focus__sub-text">
        We understand your requirement and provide quality works.
      </p>
    </div>
    <div class="focus__boxes">
      <div class="box red">
        <div class="box__img">
          <img src="img/focus_icon1.png" alt="">
        </div>
        <p class="box__title">
          Web Design
        </p>
        <div class="box__text">
          Analytics release series A financing launch party 
          interaction design android angel investor.
        </div>
      </div>
      <div class="box green">
        <div class="box__img">
          <img src="img/focus_Icon.png" alt="">
        </div>
        <p class="box__title">
          Web Design
        </p>
        <div class="box__text">
          Analytics release series A financing launch party 
          interaction design android angel investor.
        </div>
      </div>
      <div class="box purpure">
        <div class="box__img">
          <img src="img/focus_icon3.png" alt="">
        </div>
        <p class="box__title">
          Photogrpahy
        </p>
        <div class="box__text">
          Analytics release series A financing launch party 
          interaction design android angel investor.
        </div>
      </div>
      <div class="box yellow">
        <div class="box__img">
          <img src="img/focus_icon4.png" alt="">
        </div>
        <p class="box__title">
          App Development
        </p>
        <div class="box__text">
          Analytics release series A financing launch party 
          interaction design android angel investor.
        </div>
      </div>
    </div>
  </div>
</div>