<div class="portfolio">
  <div class="wrapper">
    <p class="sectionTitle">Portfolio</p>
    <p class="portfolio__sub-text">We understand your requirement and provide quality works.</p>
    <div class="portfolio__boxes">
      <div class="box">
        <img src="img/portfolio-item.png" class="box__img" alt="">
      </div>
      <div class="box">
        <img src="img/portfolio-item2.png" class="box__img" alt="">
      </div>
      <div class="box">
          <img src="img/portfolio-item3.png" class="box__img" alt="">
      </div>
      <div class="box">
          <img src="img/portfolio-item.png" class="box__img" alt="">
      </div>
      <div class="box">
        <img src="img/portfolio-item2.png" class="box__img" alt="">
      </div>
      <div class="box">
        <img src="img/portfolio-item3.png" class="box__img" alt="">
      </div>
      <div class="box">
        <img src="img/portfolio-item.png" class="box__img" alt="">
      </div>
      <div class="box">
        <img src="img/portfolio-item2.png" class="box__img" alt="">
      </div>
      <div class="box">
          <img src="img/portfolio-item3.png" class="box__img" alt="">
      </div>
    </div>
  </div>
</div>