<div class="pricing">
  <div class="wrapper">
    <p class="sectionTitle">
      Pricing Table.
    </p>
    <p class="sub-text">
      We understand your requirement and provide quality works.
    </p>
    <div class="pricing__boxes">
      <div class="box green wow slideInLeft" data-wow-offset="350">
        <p class="box__title">Starter</p>
        <div class="box__border">
          <div class="box__wrap-price">
            <p class="text money">$125</p>
            <p class="text">Per Month</p>
          </div>
        </div>
        <div class="box__list">
          <p class="box__list-item">
            <span>200GB</span> Online Storage
          </p>
          <p class="box__list-item">
            <span>20</span> Files Per Day
          </p>
          <p class="box__list-item">
            <span>2TB</span> Monthly Bandwidth
          </p>
          
          <p class="box__list-item">
            <span>20</span> Files Per Day
          </p>
          <p class="box__list-item">
            <span>24/7</span> Customer Support
          </p>
        </div>
        <button class="customBtn">Get Started</button>
      </div>
      <div class="box red wow zoomIn" data-wow-offset="350">
        <p class="box__title">Starter</p>
        <div class="box__border">
          <div class="box__wrap-price">
            <p class="text money">$125</p>
            <p class="text">Per Month</p>
          </div>
        </div>
        <div class="box__list">
          <p class="box__list-item">
            <span>200GB</span> Online Storage
          </p>
          <p class="box__list-item">
            <span>20</span> Files Per Day
          </p>
          <p class="box__list-item">
            <span>2TB</span> Monthly Bandwidth
          </p>
          
          <p class="box__list-item">
            <span>20</span> Files Per Day
          </p>
          <p class="box__list-item">
            <span>24/7</span> Customer Support
          </p>
        </div>
        <button class="customBtn">Get Started</button>
      </div>
      <div class="box purpure wow slideInRight" data-wow-offset="350">
        <p class="box__title">Starter</p>
        <div class="box__border">
          <div class="box__wrap-price">
            <p class="text money">$125</p>
            <p class="text">Per Month</p>
          </div>
        </div>
        <div class="box__list">
          <p class="box__list-item">
            <span>200GB</span> Online Storage
          </p>
          <p class="box__list-item">
            <span>20</span> Files Per Day
          </p>
          <p class="box__list-item">
            <span>2TB</span> Monthly Bandwidth
          </p>
          
          <p class="box__list-item">
            <span>20</span> Files Per Day
          </p>
          <p class="box__list-item">
            <span>24/7</span> Customer Support
          </p>
        </div>
        <button class="customBtn">Get Started</button>
      </div>
    </div>
  </div>
</div>