<div class="sidebar open">
  <button class="sidebar__close">
      <i class="fa fa-times" aria-hidden="true"></i>
  </button>
  <div class="sidebar__head">
    <p class="name">Al Rayhan</p>
    <p class="position">Al Rayhan</p>
  </div>
  <div class="sidebar__nav">
      <a href="#" class="nav-item">Home</a>
      <a href="#" class="nav-item">Home</a>
      <a href="#" class="nav-item">Home</a>
      <a href="#" class="nav-item">Home</a>
      <a href="#" class="nav-item">Home</a>
      <a href="#" class="nav-item">Home</a>
  </div>
  <div class="input">
    <select>
      <option value="sdsdf">sdfsdf</option>
      <option value="sdsdf">sdfsdf</option>
      <option value="sdsdf">sdfsdf</option>
    </select>
  </div>
</div>