<section class="statistics">
  <div class="wrapper">
    <div class="statistics__row">
      <div class="item">
        <div class="item__wrap-image">
            <img src="img/diagram.png" alt="Diagram">
        </div>
        <p class="item__text text_medium">12,458+</p>
        <p class="item__text">Projects Completed</p>
      </div>
      <div class="item">
        <div class="item__wrap-image">
            <img src="img/clients.png" alt="Client">
        </div>
        <p class="item__text text_medium">1,796+</p>
        <p class="item__text">Satisfied Clients</p>
      </div>
      <div class="item">
        <div class="item__wrap-image">
            <img src="img/heart.png" alt="Heart">
        </div>
        <p class="item__text text_medium">1,000+</p>
        <p class="item__text">Positive Feedbacks</p>
      </div>
      <div class="item">
        <div class="item__wrap-image">
            <img src="img/gift.png" alt="Gift">
        </div>
        <p class="item__text text_medium">1,500+</p>
        <p class="item__text">Freebies Released</p>
      </div>
    </div>
  </div>
</section>