<div class="team">
  <div class="wrapper">
    <p class="sectionTitle">Out Team</p>
    <p class="work__sub-text">We understand your requirement and provide quality works.</p>
    <div class="team__container">
      <div class="team__boxes">
        <div class="box active">
          <div class="box__img">
            <img src="https://ofigenno.com/content/8015-0/1.jpg" alt="">
          </div>
          <div class="box__info">
            <p class="box__name">Michael Schmitt</p>
            <p class="box__position">Founder & CEO</p>
          </div>
        </div>
        <div class="box">
          <div class="box__img">
            <img src="https://ofigenno.com/content/8015-0/1.jpg" alt="">
          </div>
          <div class="box__info">
            <p class="box__name">Michael Schmitt</p>
            <p class="box__position">Founder & CEO</p>
          </div>
        </div>
        <div class="box">
          <div class="box__img">
            <img src="https://ofigenno.com/content/8015-0/1.jpg" alt="">
          </div>
          <div class="box__info">
            <p class="box__name">Michael Schmitt</p>
            <p class="box__position">Founder & CEO</p>
          </div>
        </div>
        <div class="box">
          <div class="box__img">
            <img src="https://ofigenno.com/content/8015-0/1.jpg" alt="">
          </div>
          <div class="box__info">
            <p class="box__name">Michael Schmitt</p>
            <p class="box__position">Founder & CEO</p>
          </div>
        </div>
      </div>
      <div class="tabs">
        <div class="tabs__tab active">
          <div class="tabs__leftCol">
            <p class="tabs__title">About Bennet.</p>
            <p class="tabs__text">Monetization first mover advantage iPad. Interaction design buzz handshake. Stealth agile development branding. Backing facebook hackathon conversion startup scrum project niche market business-to-consumer paradigm shift traction. Rockstar 
              bandwidth twitter ownership success disruptive series A financing user experience buyer client social proof validation hypotheses. User experience crowdfunding 
              facebook seed round A/B testing mass market. </p>
          </div>
          <div class="tabs__rightCol">
            
          </div>
        </div>
        <div class="tabs__tab">
          <div class="tabs__leftCol">
            <p class="tabs__title">About Bennet.2</p>
            <p class="tabs__text">Monetization first mover advantage iPad. Interaction design buzz handshake. Stealth agile development branding. Backing facebook hackathon conversion startup scrum project niche market business-to-consumer paradigm shift traction. Rockstar 
              bandwidth twitter ownership success disruptive series A financing user experience buyer client social proof validation hypotheses. User experience crowdfunding 
              facebook seed round A/B testing mass market. </p>
          </div>
          <div class="tabs__rightCol">
            
          </div>
        </div>
        <div class="tabs__tab">
          <div class="tabs__leftCol">
            <p class="tabs__title">About Bennet.3</p>
            <p class="tabs__text">Monetization first mover advantage iPad. Interaction design buzz handshake. Stealth agile development branding. Backing facebook hackathon conversion startup scrum project niche market business-to-consumer paradigm shift traction. Rockstar 
              bandwidth twitter ownership success disruptive series A financing user experience buyer client social proof validation hypotheses. User experience crowdfunding 
              facebook seed round A/B testing mass market. </p>
          </div>
          <div class="tabs__rightCol">
            
          </div>
        </div>
        <div class="tabs__tab">
          <div class="tabs__leftCol">
            <p class="tabs__title">About Bennet.4</p>
            <p class="tabs__text">Monetization first mover advantage iPad. Interaction design buzz handshake. Stealth agile development branding. Backing facebook hackathon conversion startup scrum project niche market business-to-consumer paradigm shift traction. Rockstar 
              bandwidth twitter ownership success disruptive series A financing user experience buyer client social proof validation hypotheses. User experience crowdfunding 
              facebook seed round A/B testing mass market. </p>
          </div>
          <div class="tabs__rightCol">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  