<div class="testimonials">
  <div class="wrapper">
    <div class="sectionTitle">Testimonials.</div>
    <p class="sub-text">We understand your requirement and provide quality works.</p>
    <div class="slider">
      <div class="owl-carousel">
        <div>
          <div class="slider__row">
            <div class="slider__img">
              <img src="https://images.pexels.com/photos/459653/pexels-photo-459653.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb" alt="">
            </div>
            <div class="slider__content">
              <svg class="slider__svg">
                <text kerning="auto" font-family="LibreBaskerville" fill="rgb(224, 224, 224)" transform="matrix( 7.29749022974899, 0, 0, 7.29749022974901,10.6983998463402, 241.832652495264)" font-weight="bold" font-size="46.261px">&#8220;</text>
              </svg>
              <p class="slider__text">Deployment ownership non-disclosure agreement vesting period crowdfunding 
                  success influencer partnership equity series A financing network effects user 
                  experience crowdsource. Burn rate stock bootstrapping direct mailing release client traction creative facebook monetization crowdfunding rockstar.</p>
              <p class="slider__author">Melina Albrecht</p>
              <p class="slider__sub-author">Founder, TingTong</p>
            </div>
          </div>
        </div>
        <div>
          <div class="slider__row">
            <div class="slider__img">
              <img src="https://images.pexels.com/photos/459653/pexels-photo-459653.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb" alt="">
            </div>
            <div class="slider__content">
              <svg class="slider__svg">
                <text kerning="auto" font-family="LibreBaskerville" fill="rgb(224, 224, 224)" transform="matrix( 7.29749022974899, 0, 0, 7.29749022974901,10.6983998463402, 241.832652495264)" font-weight="bold" font-size="46.261px">&#8220;</text>
              </svg>
              <p class="slider__text">Deployment ownership non-disclosure agreement vesting period crowdfunding 
                  success influencer partnership equity series A financing network effects user 
                  experience crowdsource. Burn rate stock bootstrapping direct mailing release client traction creative facebook monetization crowdfunding rockstar.</p>
              <p class="slider__author">Melina Albrecht</p>
              <p class="slider__sub-author">Founder, TingTong</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>