<div class="workExp">
  <div class="wrapper">
    <div class="workExp__boxes">
      <div class="wrap-item">
        <div class="circle">
        </div>
        <div class="box right wow slideInRight" data-wow-offset="200">
          <p class="box__title">UI/UX Designer </p>
          <p class="box__sub-text">Jan 2013 - Dec 2014</p>
          <p class="box__text">Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.</p>
        </div>
      </div>
      <div class="wrap-item">
        <div class="circle"></div>
        <div class="box left wow slideInLeft" data-wow-offset="250">
          <p class="box__title">UI/UX Designer </p>
          <p class="box__sub-text">Jan 2013 - Dec 2014</p>
          <p class="box__text">Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.</p>
        </div>
      </div>
      <div class="wrap-item">
        <div class="circle"></div>
        <div class="box right wow slideInRight" data-wow-offset="200">
        <p class="box__title">UI/UX Designer </p>
        <p class="box__sub-text">Jan 2013 - Dec 2014</p>
        <p class="box__text">Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.</p>
      </div>
      </div>
      <div class="wrap-item">
        <div class="circle"></div>
        <div class="box left wow slideInLeft" data-wow-offset="200">
          <p class="box__title">UI/UX Designer </p>
          <p class="box__sub-text">Jan 2013 - Dec 2014</p>
          <p class="box__text">Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.</p>
        </div>
      </div>
    </div>
  </div>
</div>